 <nav class="menu container">
        <div class="nav-item dropdown">
        <h5 class="nav-link dropdown-toggle menu-btn" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </h5>
        <div class="dropdown-menu  bg-light" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/about">about me</a>
          <a class="dropdown-item" href="contact">contact me</a>
          <a class="dropdown-item" href="#">portfolio</a>
        </div>
      </div>
      </nav>