<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <% include ../partials/font%>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<br>
<div>
   <div >
      <div class="container"> 
        <% include ../partials/header %>
            <br>
            <div class="row">
            <!--this is right div-->
                <div class="col-lg-3">
                 
                     <div>
                       <img src="../images/muyiimage.jpg" class="img-fluid myimage" alt="">
                     </div>
                     <br>
                     <!--this the f-->
                     <div class="row">
                      <div class="col-lg-2"><small class="text-muted">works</small></div>
                      <br>
                       <div class="col-lg-10"><hr class="my-2"></div>
                       </div>
                     <!---->
                     <br>
                     <div>
                        <div>
                          <h6 >Mobicare <small>primary</small></h6> 
                          <small class="text-muted">
                            12 I.C.E road off wire road benin city ,edo state nigeria
                          </small>
                        </div>
                     </div>
                     <br>
                     <!--this the another-->
                     
                    <div>
                        
                          <h6 >About me 
                            <small class="text-muted" >Qulification</small>
                         </h6>
                          <small class="text-muted">
                            I am a graduate of the ambrose ali university. 
                            I have being developing/coding for two years now .
                            I have developed applications for big copporations like
                             Andela, Google and othere top Banks in Nigeria.
                            </small>
                     </div>
                     <br>
                     <!--skill section -->
                     <div>
                       <div class='row'>
                         
                          <h6 class="col-lg-2">SKILL</h6>
                        
                           <hr class="my-2 col-lg-12">
                       </div>
                       
                       <div>
                           <h6>Branding </h6>
                           <h6>Ui/ux</h6>
                           <h6>Web-Design</h6>
                           <h6>App Developer</h6>
                       </div>
                     </div>
                       <!--this the another-->
                     <br>
                    <div>

                      <h6 >About me
                            <small class="text-muted" >how i started</small>
                         </h6>
                          <small class="text-muted">
                          When i started learing coding there were 
                          many challenges. One was knowning how to get to where you want
                           to be and really if you have that problem stop and ask yourseif, what
                            do i want to do. If you can find that out, take onling 
                            classes that fit that space you have selected. A good place 
                            to start is w3school. just follow the step by step method and
                            you will see that it is not that spoky.lol
                            </small>

                     </div>
                     
                     <!--this is the skill section-->
                     <br>
                     
                     <!--the end of the div-->
                </div>
                <hr class="my-2">
                <!--this is the left div-->
                <div class="col-lg-9 ">
                   <div class="container-fluid">
                   <!--this is a name section -->
                     <div class="row">
                         <div class="col-lg-3"> 
                             <h6>Ero Osamuyi</h6>
                             <small>
                               <p class="text-info">App developer</p>
                             </small>
                         </div>
                         <div class="col-lg-3 text-muted">
                           <small> <i class="large material-icons">location_on</i>Nigeria</small>
                         </div>
                     </div>
                     
                     <!--this is the rating-->
                     <div>
                        <small class=" text-muted">Rankings </small>
                        <h6>8,6 <small><i class="large material-icons"></i></small></h6>
                     </div>
                     <br>
                     <!--send message section-->
                     <div class="row">
                        <div class="col-lg-4">
                           <h6> 
                             <a href=""> Send message
                             <i class="large material-icons">chat_bubble</i> </a>
                           </h6>
                         </div>
                       <div class="col-lg-12">
                           <small class="text-muted">
                              Send us a message and we will 
                              get back to
                              <br> you as soon as we can 
                           </small>
                        </div>  
                        </div>
                        <br>
                        <!----> 
                      <!--
                          <div class="row line">
                            <div class="col-lg-1">
                                <h6>Timeline</h6>
                            </div>
                            <div class="col-lg-3 line">
                                <h6>about</h6>
                            </div>
                          </div>
                          -->
                        <!-- contact information-->
                        <div>
                           <p class="text-muted">
                             Contact  information  
                           </p>
                        </div>
                        
                        <!--start contact form-->
                         <div>
                           <div>
                             <div class="row contactlist">
                                <div class="col-lg-1"><h6> Phone:</h6> </div> 
                                 <div class="col-lg-1"></div>
                                 <div clas="col-lg-6"><a href="#"><small> 09057779505 </small> </a></div>
                              </div>
                              
                              <div class="row contactlist">
                                <div class="col-lg-1"> <h6> Address: </h6></div> 
                                  <div class="col-lg-1"></div>
                                   <div clas="col-lg-3 text-muted">
                                    <small>
                                      12 I.C.E road off wire road benin <br> city, 
                                      edo state nigeria 
                                      </small>
                                    </div>
                                  </div>
                              </div>
                              
                              <div class="row contactlist">
                                <div class="col-lg-1"><h6> Email:<h6> </div> 
                                 <div class="col-lg-1"></div>
                                 <div clas="col-lg-6">
                                 <a href="#">
                                   <small>eroosamuyi@gmail.com</small>
                                   </a></div>
                              </div>
                              
                              <div class="row contactlist">
                                <div class="col-lg-1"><h6> Site: </h6></div> 
                                 <div class="col-lg-1"></div>
                                 <div clas="col-lg-6"><a href="#"><small> eroosamuyi.com </small></a></div>
                              </div>
                           </div>
                         </div>
                   </div>
                </div>
            </div>
        </div>    
   </div>
   
      <div class="fixed-bottom" style="margin:20px;"><a href='#' class="btn btn-info">go up</a></div>
</div>



  <% include ../partials/footer %>

</body>
</html>
