<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/font %>
</head>
<body>
<br>
<div class="container-fluid">

  <div class="">
   <div class="container">  
      <% include ../partials/header %>
    <br>
      <div>
          <div class="row">
             <div class='col-lg-5 col-sm-12' >
                 <div class="jumbotron bg-none"style="background:none">
                   <h1 class="display-3" style="color:rgb(6, 6, 97) ;font-family: 'Passion One', cursive;">I am <small> Muyi</small> </h1>
                   <p class="">This is my portfolio</p>
                   <hr class="my-2">

                   <br>
                   <h6 style="color:rgb(6, 6, 97) ;font-family:  'Changa', sans-serif" class='muted'>
                     So happy to have you here with me.
                     i am excited to show you what i do and tell you about myself.. 
                   </h6>
                   <br>
                   <p class="lead">
                     <a class="btn btn-outline-primary" href="about" role="button">learn more..</a>
                   </p>
                 </div>
              </div>
              <div class="col-lg-6 col-md-1">
              <br>
              <br>
                 <img src="images/image1.jpg" alt="" class="img-fluid" srcset="">
              </div>
      </div> 
    </div>
    <br>
    <br>
</div>
<br>
<div class="about">
   <div class="container" data-spy="scroll" data-target="#navbar-example3" data-offset="0" id="about">
        <div class="row">
            <h4>About me</h4> 
        </div>  
     </div>
     <br>
      <br>
      <div class="container">
        <div class="row">
      
           <div class="col-lg-4 col-md-12"> 
             <div class="card">
                <img src="images/about.jpg" class="img-fluid" alt="Responsive image">  
                <div class="card-body ">
                  <h4 class="card-title">About me</h4>
                  <p class="card-text ">my name is ero osamuyi and i am a app developer... </p>  
                  
                <a href="about">learn more..</a>      
                </div>
                </div>
          </div>  
          


           <div class="col-lg-4 col-md-12"> 
             <div class="card">
                <img src="images/contact.jpg" class="img-fluid" alt="Responsive image">  
                <div class="card-body ">
                  <h4 class="card-title">Contact me</h4>
                  <p class="card-text ">Do you need app developement service let</p>  
                  
                <a href="contact">learn more..</a>      
                </div>
                </div>
          </div>  

          <div class="col-lg-4 col-md-12">
             <div class="card">
                <div class="">         
                     <img src="images/hi.jpg" class="img-fluid" alt="Responsive image">
                </div>
                
                <div class="card-body ">
                   <h4 class="card-title">fun fact</h4>
                   <p class="card-text ">
                         APIs are a set of functions and procedures
                         that allow for the creation of application
                         that access data and feature of other 
                         application, services or opertaing system. <a href="">learn more...</a>
                      </p>
                </div>

              </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
      <div class="fixed-bottom" style="margin:20px;"><a href='#' class="btn btn-info">go up</a></div>
 </div>
</div>

  <% include ../partials/footer %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>