<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title> 
   <link rel="stylesheet" href="stylesheets/.css">
   <link rel="stylesheet" href="stylesheets/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class = "maincontainer">
        <div class = "container ">
           <div class ="image">
            <img src="images/happy.jpg" class="img-fluid" alt="Responsive image">
            </div>
                <div class ="content">
                <h1>Happy you are here</h1>
                <p class="text">
                   I am so happy to have you here today,
                   my name is muyi and this is my portfolio application. 
                </p> 
           </div>  
    
    <div class="container ">
    <footer class="footer">
     <a type="button" href="/home" class="btn btn-md btn-block " style="background-color: rgb(60, 5, 112);color:white">Next</a>
     </footer>
        </div>  
    </div>
</body>
</html>